@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --basecolor: #2d2d2d4a;
    --border: 1px solid var(--basecolor);
    --sale-color: #0551e8a9;
    --sale-color-muted: #0551e868;
    --primary-color: #2d2d2d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body {
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.6;
    color: var(--secondary-color);
    /* background: no-repeat fixed linear-gradient(45deg, #2c8ae14e -20%, #ffffff 80%); */
}

   
img {
    width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.129));
    margin-bottom: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1.4rem 2rem;
    border-bottom: var(--border);
}

header nav li {
    margin-right: 2rem;
}

header nav a {
    color: #2d2d2d;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

header nav a:hover {
    color: var(--primary-color);
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

footer {
    padding: 1rem 2rem;
    border-top: var(--border);
    border-left: var(--border);
    border-radius: 10px 0px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: fit-content;
    background-color: #ffffff;
}

footer p {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    color: #2d2d2d;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

section {
    margin-bottom: 4rem;
}

section:last-child {
    margin-bottom: 10rem;
}

button {
    transform: translateY(-0.1rem);
}

button {
    border-radius: 200px;
    border: var(--border); 
    padding: 0.7rem 1rem;
    width: fit-content;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: border 0.2s ease-in-out, background-color 0.08s ease-in-out;
    background: #ffffff;
    color: #2d2d2d;
    margin-bottom: 3rem;
}

button:hover {
    border: 1px solid var(--primary-color);
}

/* button:active {
    background-color: var(--primary-color);
} */

/* breadcrumb nav menu */

.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
    list-style: none;
    border-bottom: none;
    padding: 0.5rem 0;
}

.breadcrumbs a {
    text-decoration: none;
    color: #2d2d2d;
    font-size: 0.9rem;
    font-weight: 400;
    transition: text-decoration 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.breadcrumbs a:hover {
    color: var(--primary-color);
}

.breadcrumbs a::after {
    content: ">";
    margin-left: 0.5rem;
    font-size: 1rem;
    color: #94b1d5;
}

.breadcrumbs li {
    margin-right: 0rem;
}


.category_heading_container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    margin-top: 2rem
}

.category_heading_container:first-of-type {
    margin-top: 0
}

.view_all {
    color: #2d2d2d;
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

.category_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.category_flex:last-of-type {
    margin-bottom: 0rem;
}

.subcategory_link {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 1rem;
    font-weight: 400;
    border: var(--border);
    transition: border 0.2s ease-in-out;
    background-color: #ffffff;
}

.subcategory_link:hover {
    border: 1px solid var(--primary-color);
}






#product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.8rem;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.product_card .product_name {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}


.price_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.8rem;
    font-size: 1.1rem;
}

.product_card .product_price {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.product_card .product_price::before {
    content: "₹ ";
}

.product_card .product_img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    display: block;
    border: var(--border);
    transition: border 0.2s ease-in-out;
}

.product_card .product_img:hover {
    border: 1px solid var(--primary-color);
}

.sold_out .product_price {
    text-decoration: line-through;
}

.sold_out_text {
    font-style: italic;
}

.sold_out .deal_price {
    text-decoration: line-through;
}

.sold_out button {
    text-decoration: line-through;
    pointer-events: none;
    background-color: #6c6c6c4f;   
}

.sold_out .product_img {
    border: 1px dashed #cfcfcf;
}

.sold_out .product_img:hover {
    border: 1px dashed var(--primary-color);
}

.deal .product_price {
    text-decoration: line-through;
}

.deal_price {
    color: var(--sale-color);
}

.deal .product_img {
    border: 1px solid var(--sale-color);
}

.deal .product_img:hover {
    border: 1px solid var(--primary-color);
}

.deal.sold_out .product_img {
    border: 1px dashed var(--sale-color-muted);
}

.deal.sold_out .product_img:hover {
    border: 1px dashed var(--primary-color);
}







/* product page */

.product_content {
    display: flex;
    flex-direction: row;
    justify-content: center;

    gap: 3rem;
}

.product_content .product_image_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product_content .product_img {
    border-radius: 10px;
    height: auto;
    border: var(--border);
    position: sticky;
    top: 4rem;
    filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.301));
}

.product_content .product_text {
    flex-basis: 110%;
}

.product_content .brand_name {
    font-size: 0.9rem;
    margin-bottom: -0.2rem;
    text-transform: none;
    text-decoration: none;
    color: #2d2d2d;
    transition: color 0.2s ease-in-out;
}

.product_content .brand_name:hover {
    color: var(--primary-color);
}
.product_content .product_name {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.product_content .product_buy {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 1rem;
    align-items: start;
    font-size: 1.5rem;
}

.product_content .product_price::before {
    content: "₹ ";
}

.product_content .product_description {
    text-align: justify;
    width: 100%;
}

.product_content .product_description p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.product_content .product_description strong {
    padding-top: 1rem;
}


/* .product_content .product_description p:first-of-type {
    margin-bottom: 2rem;
} */

.product_content .product_description p span {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
