@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&display=swap');



:root {
    --basecolor: #2d2d2d4a;
    --border: 1px solid var(--basecolor);
    --sale-color: #0551e8de;
    --sale-color-muted: #0551e868;
    --primary-color: #2d2d2d;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   
body {
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.6;
    color: var(--secondary-color);
    /* background: no-repeat fixed linear-gradient(45deg, #2c8ae14e -20%, #ffffff 80%); */
}

   
img {
    width: 100%;
    height: auto;
    display: block;
}

header {
    background-color: rgb(255, 255, 255);
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.129));
    margin-bottom: 1rem;
}

header nav ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 1rem 0rem;
    border-bottom: var(--border);
    align-items: center;
}

header nav ul li {
    margin-right: 0;
    margin-block: 0.3rem;
}

header nav a {
    color: #2d2d2d;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

header nav a:hover {
    border-bottom: 1px solid var(--primary-color);
}

main {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1rem 2rem;
}

.hide {
    display: none;
}


footer {
    padding: 0.7rem 1rem;
    border-top: var(--border);
    border-left: var(--border);
    border-radius: 10px 0px 0 0;
    position: fixed;
    bottom: 0;
    right: 0;
    width: fit-content;
    background-color: #ffffff;
}

footer p {
    font-size: 0.8rem;
    font-weight: 400;
    text-align: left;
    color: #2d2d2d;
}

h1 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 400;
}

section {
    margin-bottom: 3rem;

}

.index_section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section:last-child {
    margin-bottom: 10rem;
}

button {
    border-radius: 200px;
    border: var(--border); 
    padding: 0.7rem 1rem;
    width: fit-content;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: border 0.2s ease-in-out, background-color 0.08s ease-in-out;
    background: #ffffff;
    color: var(primary-color);
    margin-bottom: 3rem;
}

button:hover {
    border: 1px solid var(--primary-color);
}

/* button:active {
    background-color: var(--primary-color);
} */

/* breadcrumb nav menu */



.dropdown {
    display: inline-block;
    position: relative;
    color: #2d2d2d;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
  }

.dropdown button {
    border: none;
    background-color: inherit;
    color: #2d2d2d;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0 0 0 0;
  }

.dropdown-content {
    position: absolute;;
    width: fit-content;
    overflow: auto;
    border: var(--border);
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    padding: 1rem;
    pointer-events: none;
    opacity: 0%;
    transition: opacity 0.2s ease-in-out;
    z-index: 999999999;
  }
.dropdown:hover .dropdown-content {
    pointer-events: all;
    opacity: 100%;
  }
.dropdown-content a {
    display: block;
    margin: 8px 0px;
    width: fit-content;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
  }
.dropdown-content a:hover {
    border-bottom: 1px solid var(--primary-color);
  }











/* Breadcrumbs */


.breadcrumbs {
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: 1rem;
    list-style: none;
    border-bottom: none;
    padding: 0.5rem 0;
}

.breadcrumbs a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 0.9rem;
    font-weight: 400;
    transition: text-decoration 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}

.breadcrumbs a::after {
    content: ">";
    margin-left: 0.5rem;
    font-size: 1rem;
    color: var(--basecolor);
}

.breadcrumbs li {
    margin-right: 0rem;
}




/* index.html */

.homepage_h1 {
    font-size: 5rem;
    font-weight: 100;
    text-align: center;
    font-family: 'EB Garamond';
    width: fit-content;
    z-index: -1;
}

.index_grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
}

.index_grid a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    transition: all 0.2s ease-in-out;
    background-color: aquamarine;
    aspect-ratio: 2/1;
    border: var(--border);
    border-radius: 10px;
}

.index_grid a:hover {
    border: 1px solid var(--primary-color);

}

.index_grid a p {
    font-size: 1.4rem;
    font-weight: 100;
    text-align: center;
    margin: 0;
}

.index_category {
    background-image: url(nicholasklaw_37223032_281099452650977_8858097081353502720_n.webp);
    background-size: 120%;
    background-position-y: 6%;
    background-position-x: 50%;
}

.index_brands {
    background-image: url(nicholasklaw_36483804_194087151245612_1429344199618068480_n.webp);
    background-size: 150%;
    background-position-y: 65%;
    background-position-x: 10%;
}





/* kategori.html */

.category_heading_container {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 0.6rem;
    margin-top: 2rem;
}

.category_heading_container:first-of-type {
    margin-top: 0
}

.view_all {
    color: #2d2d2d;
    text-decoration: underline;
    font-size: 0.9rem;
    font-weight: 400;
    transition: all 0.2s ease-in-out;
}

.category_flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 1rem;
}

.category_flex:last-of-type {
    margin-bottom: 0rem;
}

.subcategory_link {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 1rem;
    font-weight: 400;
    border: var(--border);
    transition: border 0.2s ease-in-out;
    background-color: #ffffff;
}

.article_type_link:hover {
    border: 1px solid var(--primary-color);
}

.article_type_link {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 1rem;
    font-weight: 400;
    border: var(--border);
    transition: border 0.2s ease-in-out;
    background-color: #ffffff;
}

.subcategory_link:hover {
    border: 1px solid var(--primary-color);
}

.brand_link {
    display: block;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    text-decoration: none;
    color: #2d2d2d;
    font-size: 1rem;
    font-weight: 400;
    border: var(--border);
    transition: border 0.2s ease-in-out;
    background-color: #ffffff;
}

.brand_link:hover {
    border: 1px solid var(--primary-color);
}

.brand_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
}









.product_list_main {
    display: flex;
    flex-direction: column;
}

#product_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 1.8rem;
}

.product_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.product_card .product_name {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    word-wrap: break-word;
}


.price_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    gap: 0.8rem;
    font-size: 1.1rem;
}

.product_card .product_price {
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 0.8rem;
}

.product_card .product_price::before {
    content: "₹ ";
}

.product_card .product_img {
    width: 100%;
    border-radius: 10px;
    height: auto;
    display: block;
    border: var(--border);
    transition: border 0.2s ease-in-out;
    aspect-ratio: 209/279;
    object-fit: cover;
}

.product_card .product_img:hover {
    border: 1px solid var(--primary-color);
}

.sold_out .product_price {
    text-decoration: line-through;
}

.sold_out_text {
    font-style: italic;
}

.sold_out .deal_price {
    text-decoration: line-through;
}

.sold_out button {
    text-decoration: line-through;
    pointer-events: none;
    background-color: #6c6c6c4f;   
}

.sold_out .product_img {
    border: 1px dashed #cfcfcf;
}

.sold_out .product_img:hover {
    border: 1px dashed var(--primary-color);
}

.deal .product_price {
    text-decoration: line-through;
}

.deal_price {
    color: var(--sale-color);
}

.deal .product_img {
    border: 1px solid #2c67dea3;
}

.deal .product_img:hover {
    border: 1px solid var(--primary-color);
}

.deal.sold_out .product_img {
    border: 1px dashed var(--sale-color-muted);
}

.deal.sold_out .product_img:hover {
    border: 1px dashed var(--primary-color);
}

button#next {
    align-self: center;
}

select {
    border: var(--border);
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #2d2d2d;
    background-color: #ffffff;
    transition: border 0.2s ease-in-out;
    width: 10%;
    align-self: end;
    transform: scale(0.8);
}

select:hover {
    border: 1px solid var(--primary-color);
}

select:focus {
    border: 1px solid var(--primary-color);
}















/* product page */

.product_content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;
}

.product_content .product_image_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.product_content .product_img {
    border-radius: 10px;
    height: auto;
    border: var(--border);
    /* filter: drop-shadow(0px 0px 20px rgba(255, 255, 255, 0.301)); */
}

.product_content .product_text {
    flex-basis: 100%;
}

.product_content .brand_name {
    font-size: 0.9rem;
    margin-bottom: -0.2rem;
    text-transform: none;
    text-decoration: none;
    color: #2d2d2d;
    transition: color 0.2s ease-in-out;
}

.product_content .brand_name:hover {
    color: var(--primary-color);
}
.product_content .product_name {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.product_content .product_buy {
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    align-items: start;
    font-size: 1.5rem;
}

.product_content .product_price::before {
    content: "₹ ";
}

.deal .product_price {
    text-decoration: line-through;
}

.product_content .product_description {
    text-align: justify;
    width: 100%;
}

.product_content .product_description p {
    font-size: 0.9rem;
    font-weight: 400;
    margin-top: 0.5rem;
}

.product_content .product_description strong {
    padding-top: 1rem;
}


.product_content .product_description p span {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* .product_content column in mobile */

@media screen and (min-width: 768px) {

    header nav ul {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 1.4rem 2rem;
    }

    header nav ul li {
        margin-right: 2rem;
        display: block;
    }

    .homepage_h1 {
        font-size: 10rem;
        font-weight: 100;
        margin-bottom: 1rem;
    }


    .product_content {
        flex-direction: row;
        gap: 3rem;
    }

    .product_content .product_buy {
        flex-direction: row;
    }

    .product_content .product_image_container {
        flex-direction: column;
        justify-content: flex-start;
    }

    .product_content .product_text {
        flex-basis: 110%;
    }
}